.inner {
  padding-top: 1em;
  padding-bottom: 1em;
  h2 {
    padding: 0;
    display: inline;
    margin-right: 1rem;
  }
  h3 {
    padding-bottom: 0;
  }
  header {
    clear: both;
  }
}

.container {
  background-color: #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.2) inset;
}
