/**
 *  Define scss variables here.
 *
 *  Available options for Picnicss:
 *  https://github.com/picnicss/picnic/blob/master/themes/default/_theme.scss
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

$orange: #B36A30;
$pink: #F0BFA1;
$black: #20221F;

// Picnicss Variables
$picnic-black: $black;
$picnic-primary: $orange;
$picnic-secondary: $pink;
$picnic-success: #5cb85c;
$picnic-warning: #f0ad4e;
$picnic-danger: #d9534f;
$picnic-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
