/**
 *  Define scss variables here.
 *
 *  Available options for Picnicss:
 *  https://github.com/picnicss/picnic/blob/master/themes/default/_theme.scss
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

$orange: #B36A30;
$light-orange: #E3B998;
$pink: #F0BFA1;
$light-pink: #fae3e3;
$lightest-pink: #fef8fc;
$black: #20221F;

// Picnicss Variables
$picnic-black: $black;
$picnic-primary: $orange;
$picnic-secondary: $pink;
$picnic-success: #5cb85c;
$picnic-warning: #f0ad4e;
$picnic-danger: #d9534f;
$picnic-info: #5bc0de;

$picnic-breakpoint: 700px;
