.sunset {
  min-height: 100vh;
  background-attachment: scroll;
  background-color: #373a3c;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  @media (min-width: 1025px) {
    background-attachment: fixed;
  }
  background-image: url(./sunset.jpeg);
}
.sunset-inner {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.35);
  color: white;
}

.dark, .light {
  padding: 3rem 0;
}
.dark:first-child, .light:first-child {
  padding-top: 0;
}
.dark {
  background-color: #20221F;
  color: #F0BFA1;
}
.light {
  background-color: #F0BFA1;
  color: white;
  [type=text], [type=email] {
    color: gray;
  }
}
