.wrap {
  text-align: right;
  font-size: .8em;
  a {
    z-index: 2;
    position: relative;
    background-color: transparent;
    color: gray;
  }
  h1, h2 {
    float: left;
    a {
      top: 0;
    }
  }
}

.items {
  float: right;
  position: relative;
  top: 0.5em;
}
